.motto {
  text-align: center;
  font-size: 1.75rem;
  border-radius: 8px;
  font-family: 'Balsamiq Sans', cursive;
  letter-spacing: 1px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-bottom: 3rem;
}

.title {
  margin: 4rem;
  font-weight: bold;
  font-size: 3rem;
  text-align: center;
  color: darkorange;
  font-family: 'Balsamiq Sans', cursive;
  letter-spacing: 2px;
}

.title > div {
  font-weight: normal;
  font-size: 1.5rem;
  color: darkorange;
  text-shadow: none;
}

.notices {
  margin-bottom: 5rem;
}

.about {
  margin-bottom: 2rem;
}